{{ $parentScope := . }}

{{ if or ((.Page.Site.Params.mainMenu) (.show_back_menu_item)) }}
<hr />
<p>
{{ end }}

    <a id="home-link" class="bottom_menu_item" href="{{.Page.Site.BaseURL}}">{{ .Page.Site.Params.homepage }}</a>

    {{ if .show_back_menu_item }}
        <a href="{{ .Page.Section | relURL }}">back</a>
    {{ end }}

    {{ if .Page.Site.Params.mainMenu }}
        {{ range .Page.Site.Params.mainMenu }}
            {{ if ne $parentScope.Page.RelPermalink .link }}
                <a class="bottom_menu_item" href="{{ .link }}">{{ .text }}</a>
            {{ else }}
                <span class="bottom_menu_item">{{ .text }}</span>
            {{ end }}
    {{ end }}
{{ end }}
</p>